.container {
    -fx-pref-width: 200px;
    -fx-focus-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: rgba(193, 225, 236, 0.5);
    -fx-text-fill: black;
    -fx-focus-color: transparent;
}



.label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18px;
    -fx-graphic-text-gap: 10;
    -fx-label-padding: 5px 0px;
}

.label:hover {
    -fx-background-color: rgba(229, 224, 224, 0.7);
}

.all-notes-label .ikonli-font-icon {
    -fx-icon-code: "mdi2n-note-multiple-outline";
}

.favorites-label .ikonli-font-icon {
    -fx-icon-code: "mdi2s-star-outline";
}

.trash-label .ikonli-font-icon {
    -fx-icon-code: "mdi2t-trash-can-outline";
}

.preferences-label .ikonli-font-icon {
    -fx-icon-code: "mdi2c-cog-outline";
}

.about-label .ikonli-font-icon {
    -fx-icon-code: "mdi2i-information-outline";
}