.favorites-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18px;
    -fx-graphic-text-gap: 10;
    /*-fx-icon-code: "mdi2s-star-outline";*/
}

.trash-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18px;
    -fx-graphic-text-gap: 10;
    /*-fx-icon-code: "mdi2t-trash-can-outline";*/
}

.trash-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18px;
    -fx-graphic-text-gap: 10;
    /*-fx-icon-code: "mdi2t-trash-can-outline";*/
}

.preferences-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18px;
    -fx-graphic-text-gap: 10;
}

.about-label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 18px;
    -fx-graphic-text-gap: 10;
}