.button {
    -fx-pref-width: 30px;
    -fx-pref-height: 25px;
    -fx-font-size: 14px;
    -fx-background-radius: 20px;
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-border-color: black;
}

.button:hover {
    -fx-background-color: rgba(229, 224, 224, 0.7);
}

.container {
    /*-fx-background-color: rgba(72, 219, 251, 0.3);*/
    /*-fx-background-color: rgba(188, 229, 243, 0.5);*/
    -fx-background-color: white;
    -fx-padding: 20px;
    -fx-vgap: 20px;
    -fx-pref-width: 800px;
}

.scroll-pane {
    -fx-pref-width: 800px;
}

.list-view {
    -fx-focus-color: transparent;
}

.list-cell:filled:selected {
    -fx-background-color: rgb(152, 220, 245);
    -fx-text-fill: black;
}


/*todo item styles*/
.label {
    -fx-text-fill: black;
}

.todo-item-header {
    -fx-font-family: Arial;
    -fx-font-weight: 500;
    -fx-font-style: Italic;
    -fx-font-size: 18px;
}

.todo-item-content {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 16px;
    -fx-background-color: transparent;
}

.todo-item-create-date {
    -fx-font-family: "Times New Roman";
    -fx-font-weight: 500;
    -fx-font-size: 15px;
}

.todo-item-favorite-button {
    -fx-font-size: 14px;
    -fx-background-color: transparent;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.todo-item-favorite-button:hover {
    -fx-background-color: rgba(229, 224, 224, 0.7);
}